/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    margin-top: 2px;
    display:flex ;
    height: 79px;
    width: 100%;
    max-width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.logo-petit {
    height: 19px;
    padding: 30px 50px 30px 50px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
}

.sous-titre {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 244px;
    height: 35px;
    padding: 0px 50px 0px 50px;
    gap: 68px;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.header-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 35px;
    border: transparent 2px;
}

.header-links:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

.big-icone {
    font-size: 22px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}    

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 600;
    font-size: 14px;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Partie recherche et info */

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 377px;
    height: 49px;
    box-sizing: border-box;
}

.black {
    color: black;
}

.white {
    color: white;
}


.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #F2F2F2;
    padding: 0px 18px 0px 18px;
    height: 100%;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
    opacity: 1;
}
    
.recherche-ville {
    display: flex;
    height: 49px;
    border: none;
    width: 100%;
    text-align: center;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2 ;
    box-sizing: border-box;
}

.bouton-loupe {
    display: none;
    height: 100%;
    padding: 15px 16px 15px 16px;
    background-color: #0065FC;
    border-radius: 15px;
    font-size: 17px;
    border: solid 1px #0065FC;
    box-sizing: border-box;
}



.bouton-rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: solid #0065FC 1px;
    width: 132px;
    padding: 15px 16px 15px 16px;
    font-size: 1em;
    font-weight: 700;
    color: white;
    gap: 10px;
}

.filtres {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.four-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.four-buttons > * {
    flex: 1 1 0;
}

.two-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.two-buttons > * {
    flex: 1 1 0;
}

.filtres-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 19px 4px 19px;
    height: 50px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    gap: 10px;
    background-color: white;
    box-shadow: none;
    border: solid 2px #D9D9D9;
    min-width: max-content;
    box-sizing: border-box;
}

.filtres-button:hover {
    background-color: #DEEBFF;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: solid 1px #D9D9D9;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements > *{
    flex: 1 1 0;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hebergements-cards > * {
    flex: 1 1 0;
}

.hebergements-cards .card {
    display: flex;
    height: 207px;
    flex-direction: column;
    gap: 4px;
    padding: 0px 0px 15px 0px;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 5px white;
    box-sizing: border-box;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 0px;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.card-rating {
    margin: 0px;
    height: fit-content;
    font-size: 13px;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards > *{
    flex: 1 1 0;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activités */

.activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activities > *{
    flex: 1 1 0;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activities-cards > *{
    flex: 1 1 0;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    width: 100%;
    padding: 20px 19px 20px 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.activities .card-title {
    margin: 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-subtitle {
        font-size: 14px;
    }

    .activities-cards .card {
        height: 270px;
    }

    .activities-cards img {
        height: 200px;
    }

    .filtres {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    .four-buttons {
        gap: 13px;
    }

    .two-buttons {
        gap: 13px;
    }

    .filtres-button {
        font-size: 16px;
    }

}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    header {
        margin: 0px;
        height: 115px;
        gap: 0px;
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        padding: 0px;
    }

    nav {
        gap: 0px;
        justify-content: space-around;
        width: 100%;
        padding: 0px;
    }

    .info-group {
        padding: 0px 20px;
    }

    .header-links {
        width: 50%;
        justify-content: start;
        align-items: center;
        border-bottom: solid 2px #F2F2F2;
    }

    .header-links:hover {
        border-top: transparent;
        border-bottom: solid 2px #0065FC;
    }

    .search-bar {
        width: 100%;
    }

    .bouton-loupe {
        display: flex;
    }

    .bouton-rechercher {
        display: none;
    }

    .four-buttons {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: start;
    }

    .two-buttons {
        width: 100%;
    }

    .filtres-button {
        font-size: 14px;
        justify-content: flex-start;
        min-width: min-content;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        border-radius: 0px;
        padding: 30px 20px;
        gap: 15px;
        margin: 0px;
    }

    .populaires-cards .hebergements-cards{
        gap: 15px;
    }

    .hebergements {
        border-radius: 0px;
        padding: 0px 20px;
        gap: 15px;
        background-color: #FFFFFF;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .activities-cards {
        flex-direction: column;
        gap: 15px;
    }


    footer {
        flex-direction: column;
        padding: 0px 20px;
    }

}

/* VERY small devices (phones, less than 340px) */
@media (max-width: 340px) {

    .two-buttons {
        gap: 5px;
    }

}
